/*** general styles ***/

* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

/*** layout styles ***/

header {
  width: 75vw;
  margin: 25px auto;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
  padding-right:0 25px;
}

/*** type styles ***/

h1 {
  font-family: lust, serif;
  color: pink;
  font-size: 45px;
  text-transform: none;
}
a:link, a:visited {
  color: white;
}
li:hover, a:active {
  color: purple;
}
li {
  margin-bottom: 14px;
}
ul {
  list-style-type: none;
  border-left: 3px solid pink;
}

/*** media queries ***/
@media screen and (max-width: 1082px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
  h1 {
    font-size: 3rem;
  }
}
